image: rancher/hardened-node-feature-discovery:{{build.tag}}
manifests:
  -
    image: rancher/hardened-node-feature-discovery:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
